defaults:
  - _self_
  - override hydra/launcher: joblib

model:
  input_size: 784
  num_classes: 10

data:
  batch_size: 128
  data_dir: ./data
  num_workers: 2

training:
  seed: 42
# -------------------------------------------------------------
  learning_rate: 0.0063359488139514445
  weight_decay: 0.008912117369121994
  max_lr: 0.01
  gradient_clip_val: 0.5
# -------------------------------------------------------------
  num_epochs: 200
  accelerator: auto
  devices: 1
  deterministic: true
  enable_progress_bar: true
  accumulate_grad_batches: 2
  precision: 16
  val_check_interval: 1.0
  limit_train_batches: 1.0
  limit_val_batches: 1.0

  checkpointing:
    enable: true
    filename: final-best-checkpoint
    monitor: val_loss
    mode: min
    save_top_k: 1
    save_last: true
    verbose: true

wandb:
  project: fashion_mnist
  run_name: final_run_best_params
  tags: [final_run, best_params]
  notes: "Final training run with the best hyperparameters found by Optuna."
  log_model: true


logging:
  log_every_n_steps: 10

hydra:
  launcher:
    n_jobs: 5
