__pycache__/
*.pyc
*.pyo

.venv/

scripts/checkpoints/
scripts/outputs/
scripts/multirun/
scripts/wandb/
scripts/logs/

*.npy
*.npz

scripts/data/FashionMNIST/
scripts/landscape_models/
scripts/landscape_trajectory/
scripts/predictions/

.idea/
.claude/
data/
Thesis/
